.header_bg {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 999;
    transition: 0.4s;
}
.header_scrollbg{
    background-color: #fff;
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 999;
    transition: 0.4s;
    box-shadow: 0px 1px 4px #8080805e;
}

.header_inner{
    display:flex;
    padding-top: 18px;
    padding-bottom: 18px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width:18.5%;
}
.list ul,
.listScrollable ul{
    display: flex;
    gap: 30px;
}
.list ul li a{
    color: #fff;
    font-size: 18px;
    transition: 0.4s;
    font-family: 'Gotham reg', sans-serif; 
    position: relative;
}
.listScrollable ul li a{
    color: #232323 ;
    font-size: 18px;
    transition: 0.4s;
    font-family: 'Gotham reg', sans-serif; 
    position: relative;
}
.list ul li a::after{
    background-color: #fff;
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    transition: 0.4s;
    content: "";
    bottom: -4px;
}
.listScrollable ul li a::after{
    background-color: #005AAB;
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    transition: 0.4s;
    content: "";
    bottom: -4px;
}
.listScrollable ul li a:hover::after{
    width: 100%;
    right: 0;
}
.list ul li a:hover::after{
    width: 100%;
    right: 0;
}
.navActive a{
    position: relative;
    color: #fff;
}
.navActive a::after{
    background-color: #fff !important;
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    transition: 0.4s;
    content: "";
    bottom: -4px;
}
.navActive a::after{
    width: 100% !important;
    right: 0;
}

.logo img{
    width: 100%;
    height: 45px;
}
.navActive.navActive2 a{
   color: #005AAB;
}
.navActive.navActive2 a::after{
    background-color: #005AAB !important;
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    transition: 0.4s;
    content: "";
    bottom: -4px;
}
.navActive.navActive2 a::after{
    width: 100% !important;
    right: 0;
}



.list ul li:last-child a::after,
.listScrollable ul li:last-child a::after{
    position: unset;
    background-color: transparent;
}

.listScrollable ul li a:hover{
    color: #005AAB;
}
.list ul li a:hover{
    color: #fff;
}
.list ul li:last-child a,
.listScrollable ul li:last-child a{
    background-color: #005AAB !important;
    color: #fff !important;
    padding: 11px 17px;
    border-radius: 8px;
    border: 1px solid #005AAB;
    transition: 0.4s;
}

.list ul li:last-child a:hover{
    background-color: #fff !important;
    border: 1px solid #fff;
    color: #005AAB !important;
}
.listScrollable ul li:last-child a:hover {
    background-color: transparent !important;
    border: 1px solid #005AAB;
    color: #005AAB !important;
}


@media screen and (max-width:700px){
    .navActive a::after{
        background-color: #005AAB !important;
    }
    .list,
    .listScrollable{
        position: absolute;
        background: #fff;
        z-index: 9999;
        top: 70px;
        bottom: 0;
        right: 0;
        left: 0;
        height: fit-content;
    }
    .list ul,
    .listScrollable ul{
        display: flex;
        gap: 30px;
        flex-direction: column;
    }
    .list ul li a,
    .listScrollable ul li a{
        color: #232323;
    }
    .logo img{
        width: 100%;
        height: unset;
    }
    .logo{
        width:55%;
    }
}