.header_bg {
    background:#fff;
   
}
.header_inner{
    display:flex;
    padding: 22px 0;
    justify-content: space-between;
    align-items: center;
}
.list ul{
    display: flex;
    gap: 30px;
}
.list ul li a{
    color: #232323;
    font-size: 18px;
}
.list ul li:last-child a{
    background-color: #005AAB;
    color: #fff;
    padding: 11px 17px;
    border-radius: 8px;
}