.choose_us h2{
    font-size: 28px;
    color: #000000CC;
}
.choose_us h2 span{
    color:#005AAB
}
.choose_row{
    display: flex;
    margin-top: 25px;
    gap: 32px;
    align-items: center;
}
.choose_col{
    width: 49%;
}
.choose_col2{
    width: 49%;
}
.choose__inner_row{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
   
}

.choose__inner_col{
    width: 46%;
   
}
.choose__inner_col img{
    width: fit-content;
}
.choose__inner_col h6{
    color: #000000CC;
    font-size: 20px;
    padding: 13px 0px;
}
.choose__inner_col p{
    font-size: 18px;
    color: #333333;
    line-height: 1.6;
}

@media screen and (max-width:1100px){
    .choose__inner_col h6{
        font-size: 18px;
    }
}
@media screen and (max-width:800px){
    .choose_row{
        flex-direction: column;
    }
    .choose_col{
        width: 100%;
    }
    .choose_col2{
        width: 100%;
    }
    
}

@media screen and (max-width:700px){
    .choose__inner_col p{
        font-size: 16px;
       
    }
    .choose_us h2{
        font-size: 18px;
    }
    .choose__inner_col {
        width: 100%;
    }
    .choose_col img{
        object-fit: contain;
        width: fit-content;
        height: unset;
    }
    .choose__inner_col{
        text-align: center;
    }
}