.banner{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 160px 0;
    background-position: bottom center;
}
.banner img{
    object-fit: cover;
}
.banner_desc{
    width: 63%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto auto 0;
   
}
.banner_desc h1{
    color: #fff;
    font-size: 52px;
    font-family: 'Gotham bold', sans-serif;
    line-height: 1.2;
}
.banner_desc h6{
    color: #fff;
    font-size: 18px;
    font-weight: 100;
}
.banner_desc p{
    color: #fff;
    font-size: 18px;
    padding:17px 0px 24px;
    line-height: 1.5;
   
}
.banner_desc button{
    border: 1px solid #fff;
    background-color: transparent;
    width: fit-content;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    line-height: 2.6;
    padding: 0px 34px;
    color: #fff;
    font-size: 18px;
    transition: 0.4s;
}
.banner_desc button:hover{
    background-color: #005AAB;
    border: 1px solid #005AAB;
}

.button{
    height: 48px;
    position: relative;
    border: 1px solid #fff;
    background-color: transparent;
    max-width: 220px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
}
.button a{
    color: #fff;
    font-size: 18px;
    transition: 0.4s;
    position: absolute;
    right: 0;
    left: 0;
    top: 7px;
    bottom: 0;
    margin: auto;
    text-align: center;
    line-height: 2.2;
}
.banner_desc .button:hover{
    background-color: #005AAB;
    border: 1px solid #005AAB;
}
@media screen and (max-width:1100px){
    .banner_desc h1{
        font-size: 40px;
    }
    .banner_desc{
        width: 58%;
    }

}

@media screen and (max-width:800px){
    .banner_desc h1{
        font-size: 34px;
    }
    .banner_desc{
        width: 90%;
    }
    .banner_desc{
        left: 0%;
    }
}
@media screen and (max-width:700px){
    .banner_desc h1{
        font-size: 26px;
        line-height: 1.2;
    }
    .banner_desc{
        width: 100%;
    }
    .banner_desc p{
        font-size: 16px;
    }
    .banner_desc button{
        font-size: 16px;
    }
    .banner{
        padding: 70px 0;
    }
    .banner_desc h6{
        font-size: 16px;
        padding-bottom: 10px;
    }
}