*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Gotham', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin: 0;
}
ul,li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
}
.container{
  margin: 0 auto;
  max-width: 1200px;
}