*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Gotham book', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin: 0;
}
ul,li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
}
.container{
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 20px;
}

@font-face {
  font-family: 'Gotham light', sans-serif;
  src: url('../assets/font/Gotham-Light.otf');
}
@font-face {
  font-family: 'Gotham book';
  src: url('../assets/font/GothamBook.ttf');
}
@font-face {
  font-family: 'Gotham medium';
  src: url('../assets/font/GothamMedium.ttf');
}
@font-face {
  font-family: 'Gotham bold';
  src: url('../assets/font/GothamBold.ttf');
}
@font-face {
  font-family: 'Gotham reg', sans-serif;
  src: url('../assets/font/Gotham\ Regular.otf');
}


@media screen and (max-width:700px){
  body{
    overflow-x: hidden;
  }
  html{
    overflow-x: hidden;
  }
}