.card_grid{
    display: flex;
    margin-top: 20px;
    gap: 16px;
}
.serivces_row{
    margin-top: 80px;
}
.serivces_row h2{
    font-size: 28px;
    color: #000000CC;
    padding-bottom: 5px;
}
.serivces_row h2 span{
    color:#005AAB
}
.serivces_col{
    width: 24%;
}
.best_practice{
    background-color: #012842;
    margin: 80px 0;
    padding: 67px 20px;
}
.best_practice_Row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
}
.best_practice_col h2{
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 16px;
    line-height: 1.4;
}
.best_practice_col h2 span{
    color:#2F82C9
}
.best_practice_col p{
    font-size: 18px;
    color: #fff;
    line-height: 1.6;
}
.best_practice_col {
    width: 44%;
}
.partner_Sec{
    margin-top: 100px;
}
.video_sec{
    height: 100vh;
    position: relative;
}
.video_sec video{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
   
}
.video_sec::before{
    background-color: rgba(0, 0, 0, 0.4);
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    z-index: 99;
}
.banner_desc{
    width: 56%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto auto 0;
   position: absolute;
   z-index: 99;
   top: 0;
   bottom: 0;
}

.banner_desc h1{
    color: #fff;
    font-size: 52px;
    font-family: 'Gotham bold', sans-serif;
    line-height: 1.1;
}
.banner_desc h6{
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.6;
    padding-bottom: 6px;
}
.banner_desc p{
    color: #fff;
    font-size: 18px;
    padding: 18px 0 24px;
    line-height: 1.5;
   
}
.banner_desc a{
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 18px;
    padding: 1px 26px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;
    width: fit-content;
    line-height: 2.4;
    height: 48px;
}
.banner_desc a span{
    display: flex;
    align-items: center;
    height: 35px;
    padding-top: 7px;
}
.banner_desc a:hover{
    background-color: #005AAB;
    border: 1px solid #005AAB;
}



@media screen and (max-width:1100px){
    .banner_desc h1{
        font-size: 40px;
    }
    .banner_desc{
        width: 58%;
    }

}

@media screen and (max-width:800px){
    .card_grid{
        flex-wrap: wrap;
    }
    .serivces_col{
        width: 47%;
        justify-content: center;
    }
    .banner_desc h1{
        font-size: 34px;
    }
    .banner_desc{
        width: 90%;
    }
}
@media screen and (max-width:700px){
    .serivces_row h2{
        font-size: 18px;
    }
    .serivces_row{
        margin-top: 50px;
    }
    .card_grid{
        flex-direction: column;
    }
    .serivces_col{
        width: 100%;
    }
    .best_practice_Row{
        flex-direction: column;
    }
    .best_practice_col{
        width: 100%;
    }
    .best_practice_col2{
        width: 100%;
    }
    .best_practice{
        padding: 67px 0px;
        margin: 60px 0;
    }
    .best_practice_col p{
        font-size: 16px;
    }
    .partner_Sec{
        margin-top:60px ;
    }
    .banner_desc h1{
        font-size: 26px;
        line-height: 1.2;
    }
    .banner_desc{
        width: 100%;
    }
    .banner_desc p{
        font-size: 16px;
    }
    .banner_desc h6{
        font-size: 16px;
    }
    .banner_desc button{
        font-size: 16px;
    }
    .banner_desc{
        left: 0;
        right: 0;
        padding: 0 20px;
    }
}