.footer_bg{
    background-color: #032D45;
    padding: 61px 20px;
}
.footer_nav__row{
    display: flex;
    justify-content: space-between;
   
    margin: 0 auto;
    max-width: 756px;
}
.footer_navCol{
    display: flex;
    gap: 14px;
}
.footer_navLink ul{
    display: flex;
    gap: 32px;
}
.footer_navLink ul li a{
    color: #FFFFFFB2;
    font-size: 16px;
    line-height: 1.2;
    display: block;
}
.footer_bottom{
    display: flex;
    margin: 35px auto 0;
    justify-content: center;
    gap: 40px;
}
.footer_bottom a{
    display: flex;
    gap: 10px;
    color: #FFFFFFB2;
    align-items: center;
}
.footer_bottom a img{
    width: fit-content;
}

@media screen and (max-width:700px){
    .footer_nav__row{
        flex-direction: column;
    }
    .footer_bottom{
        flex-direction: column;
    }
    .footer_navCol{
        gap: 18px;
        justify-content: center;
    }
    .footer_navCol img{
        width: fit-content;
    }
    .footer_navLink{
        margin-top: 20px;
    }
    .footer_bg{
        padding: 40px 10px;
    }
    .footer_navLink ul{
        padding-left:0px ;
        justify-content: center;
    }
}